@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.site-content, .site-header {
    margin-top: 20px;
}

.container {
    padding: 0 20px;
}

.header-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.header-list li {
    display: inline-block;
    float: left;
    width: 33.333333%;
    height: 100%;

    margin: auto 0;
}

.page-content {
    margin: 0 -20px;
}

.main {
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 20px;
    width: 75%;
}

.main .post-archive {}
.main .post-archive-standart {}

.post-archive .post-standart, .header-content {
    display: block;
    text-align: center;
    margin-bottom: 48px;
    border-bottom: 1px #eceeef solid;
}

.post-standart h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -3px;
    color: #000;
    margin-bottom: 24px;
}

.post-standart h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 48px;
    background: #000;
    margin: 16px auto 0;
}

.post-standart a {
    text-decoration: none;
    color: #000;
}

.post-standart .btn-primary, .post-standart .btn-primary:hover {
    color: #eee;
}

.post-standart a:hover {
    color: #888;
}

.post-header {}

.post-categories {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A0A0A0;
    list-style: none;
    margin-bottom: 24px;
}

.post-categories li {
    display: inline-block;
}

.post-categories::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 8px;
    margin-right: 12px;
    height: 1px;
    background: #eceeef;
}

.post-meta {
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A0A0A0;
}

.post-meta li {
    display: inline-block;
}

.post-meta li:not(:last-child):after {
    content: '\b7';
    margin: 0 8px;
}

.post-media {
    position: relative;
    margin: 48px 0;
}

.post-description {}

.post-footer {}
.post-share {
    display: inline-block;
    line-height: 1;
}

.post-share .title-share {
    display: inline-block;
    margin: 0 16px 0 0;
    color: #bababa;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.post-share .share-buttons {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 0 48px 0;
}

.post-share .share-buttons a:hover {
    color: #000;
}

.post-share .share-buttons li {
    display: inline-block;
    margin-right: 16px;
}

.post-share .share-buttons a {
    color: #bababa;

}

.sidebar {
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 20px;
    width: 25%;
}