@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.header-list {
    display: block;
    list-style: none;
    margin: 36px 0;
    padding: 0;
    vertical-align: middle;
}

.header-list .subscribe, .header-list .site-search {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0;
}

.header-list .subscribe {
    text-align: left;
}

.header-list .site-search {
    text-align: right;

}

.header-list .site-description {
    display: none;
    float: left;
    width: 50%;
    margin: 0;
}

.header-list .site-description h2, div.site-description h2 {
    margin: 0;
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}

div.site-description {
    display: block;
    margin: 0 auto;
}

.site-content, .site-header {
    margin: 20px auto 0;
    width: 90%
}

.container {
    padding: 0 20px;
}

.page-content {
    margin: 0 -20px;
}

.main {
    position: relative;
    min-height: 1px;
    padding: 0 20px;
    width: 100%;
    z-index: 1;
}

.main .post-archive {}
.main .post-archive-standart {}

.post-archive .post-standart {
    margin-bottom: 48px;
    border-bottom: 1px #eceeef solid;
}

.post-archive .post-standart, .header-content {
    display: block;
    text-align: center;
}

.post-standart h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -3px;
    color: #000;
    margin-bottom: 24px;
}

.post-standart h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 48px;
    background: #000;
    margin: 16px auto 0;
}

.post-standart a {
    text-decoration: none;
    color: #000;
}

.post-standart .btn-primary, .post-standart .btn-primary:hover {
    color: #eee;
}

.post-standart a:hover {
    color: #888;
}

.post-header {}

.post-categories {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A0A0A0;
    list-style: none;
    margin-bottom: 24px;
}

.post-categories li {
    display: inline-block;
}

.post-categories::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    margin-left: 8px;
    margin-right: 12px;
    height: 1px;
    background: #eceeef;
}

.post-meta {
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #A0A0A0;
}

.post-meta li {
    display: inline-block;
}

.post-meta li:not(:last-child):after {
    content: '\b7';
    margin: 0 8px;
}

.post-meta .views-text {
    display: none;
}

.post-meta i {
    display: inline;
}

.post-media {
    position: relative;
    margin: 48px 0;
}

.post-description {}

.post-footer {}
.post-share {
    display: inline-block;
    line-height: 1;
}

.post-share .title-share {
    display: inline-block;
    margin: 0 16px 0;
    color: #bababa;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-share .title-share span {
    margin-right: 16px;
}

.post-share .share-buttons {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 0 48px 0;
}

.post-share .share-buttons a:hover {
    color: #000;
}

.post-share .share-buttons li {
    display: inline-block;
    margin-right: 16px;
}

.post-share .share-buttons a {
    color: #bababa;

}

.sidebar {
    display: block;
    position: relative;
    min-height: 1px;
    padding: 0 20px;
    width: 100%;

}

.sidebar .filter-list {
    display: block;
    list-style: none;
    text-align: left;
    margin: 0 0 24px;
    padding: 0;
}

.sidebar .filter-list li {
    width: 100%;
    display: inline-block;
}

.sidebar .filter-list li {
    border-top: 1px solid #ccc;
}

.sidebar .filter-list li:last-child {
    border-bottom: 1px solid #ccc;
}



.subscribe-widget {
    display: none;
    background-color: #eceeef;
    text-align: center;
    padding: 44px 20px;
    margin: 60px 0;
}

.subscribe-widget .widget-title h4 {
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin: 0 auto 16px;
}

.subscribe-widget .widget-title h4:after {
    content: '';
    height: 2px;
    width: 32px;
    display: block;
    background-color: #000;
    margin: 12px auto 0px;
}

.subscribe-widget .widget-content {
    margin: 16px auto;
}

.subscribe-widget .widget-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;
}


.site-footer {
    background-color: #000;
    color: #A0A0A0;
    margin-top: -48px;
}

.site-footer .footer-wrapper {
    display: block;

    padding: 24px 0 0;
}

.site-footer .site-logo {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.site-footer .site-logo h2 {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    color: #A0A0A0;
    padding: 0;
    margin: 0;
}

.site-footer .site-logo p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.site-footer .contact-info {
    float: right;
    display: block;
}

.site-footer .contact-info .contact-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}

.footer-subscribe {
    display: block;
    padding: 48px 0;
    text-align: center;
}

.footer-subscribe .subscribe-container {
    padding: 0 0 48px;
    margin: 0 auto;
    border-bottom: 1px solid #777;
}

.footer-subscribe h2 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    text-transform: capitalize;
}

.footer-subscribe .subscribe-message {
    font-size: 18px;
    margin: 0 auto 16px;
}

.input-group {
    position: relative;
    display: block;
    margin-top: 32px;
}

.input-group .form-control {
    width: 56%;
    max-width: 290px;
}

.input-group-btn button {
    margin-left: -4px;
    line-height: 25px;
}

.footer-subscribe button.btn-effect:hover span:last-child {
    transform: translateY(-150%) translateX(-50%);
}

#search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    -webkit-animation: fade-zoom-in .3s forwards;
    -o-animation: fade-zoom-in .3s forwards;
    animation: fade-zoom-in .3s forwards;
    display: none;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
}

#search .close {
    position: fixed;
    font-size: 28px;
    top: 48px;
    right: 48px;
    opacity: 1;
    border: none;
    background: transparent;
    color: black;
    text-shadow: none;
}

#search .close:after {
    content: '\f00d';
    font-family: 'FontAwesome';
}

#search.open {
    display: block;
}

#search .form-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 40%;
    margin-top: -32px;
}

#search input[type="search"] {
    color: #000;
    background: transparent;
    font-size: 32px;
    border: none;
    width: 100%;
    padding: 8px 12px;
    overflow: hidden;
    outline: none;
    max-width: 560px;
}

input::-webkit-input-placeholder {
    color: #000000;
    text-align: center;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    text-align: center;
}
input:-ms-input-placeholder {
    color: #000000;
    text-align: center;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    text-align: center;
}


button.close {
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-weight: 700;
    line-height: 1;

}

.row {
    text-align: center;
}

.site-search .input-group button {
    position: absolute;
    display: none;
}

@media (min-width: 768px) {

    .header-list .site-description {
        display: inline-block;
    }

    div.site-description {
        display: none;
    }

    .header-list .subscribe, .header-list .site-search {
        width: 25%;
    }

    .sidebar .filter-list {
        margin: 0 0 24px;
    }

    .post-standart h2 {
        font-size: 48px;
    }

    .post-meta .views-text {
        display: inline;
    }

    .post-meta i {
        display: none;
    }

    .sidebar .filter-list li {
        width: 25%;
        float: left;
        border: 1px solid #ccc;
    }

    .sidebar .filter-list li:not(:last-child) {
        border-right: none;
    }

    .sidebar .filter-list a {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    #search input[type="search"] {
        font-weight: 700;
        font-size: 68px;
        letter-spacing: -4px;
    }
}

@media (min-width: 1200px) {

    .header-content {
        margin-bottom: 48px;
        border-bottom: 1px #eceeef solid;
    }

    .subscribe-widget {
        display: block;
    }

    .sidebar {
        display: inline-block;
        position: relative;
        width: 25%;
    }

    .sidebar .sidebar-wrapper {
        border: none;
        margin: 16px auto;
        background: white;
    }

    .sidebar .filter-list li {
        width: 100%;
        float: none;
        border-right: none;
        border-left: none;
    }

    .sidebar .filter-list li:not(:last-child) {
        border-bottom: none;
    }

    .main {
        float: left;
        width: 75%;
    }

    .footer-subscribe {
        display: none;
    }
}