<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="site-description" style="display: block; margin-bottom: 16px;">
                <div>

                    <h2 style="text-transform: uppercase">{{$ctrl.avail.company}}</h2>

                </div>
            </div>

        </div>
    </div>
</header>


<div class="site-content">
    <div class="container">
        <div class="page-content clearfix">
            <div class="sidebar" style="z-index: 2">
                <div class="sidebar-wrapper" style="background: white;">

                    <div class="subscribe-widget">
                        <div class="widget-title">
                            <h4>Подписаться</h4>
                        </div>
                        <form method="post">
                            <div class="widget-content">
                                <p>Подпишись на нашу бесплатную ежедневную рассылку, чтобы первым узнавать о новых акциях и скидках.</p>
                                <input type="text" class="form-control email" placeholder="Введи свой email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-effect">
                                <span>Подписаться</span>
                                <span><i class="fa fa-envelope-o fa-lg"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="post-archive">
                    <div class="post-archive-standart">

                        <div class="post-standart clearfix">
                            <div class="post-header">
                                <h2>
                                    {{$ctrl.avail.name}}
                                </h2>
                            </div>
                            <div class="post-media avail-images clearfix">
                                <img ng-src="{{img}}" class="avail"
                                     ng-class="{selected: img === $ctrl.mainImageUrl}"
                                     ng-repeat="img in $ctrl.avail.images" />
                            </div>


                            <div class="post-description">
                                <p>{{$ctrl.avail.snippet}}</p>
                                <h3>{{$ctrl.avail.description.title}}</h3>
                                <ul>
                                    <li ng-repeat="features in $ctrl.avail.description.features">{{features}}</li>
                                </ul>

                                <h3>Условия:</h3>
                                <p>Предложение действительно до <strong>{{$ctrl.avail.terms.endtime}}</strong></p>
                                <p>{{$ctrl.avail.terms.description}}</p>
                                <p>{{$ctrl.avail.terms.feature}}</p>

                                <h3>Контакты:</h3>
                                <p>{{$ctrl.avail.contacts.company}}</p>
                                <p>{{$ctrl.avail.contacts.adress}}</p>
                                <ul>
                                    <li ng-repeat="phoneNumber in $ctrl.avail.contacts.phone">{{phoneNumber}}</li>
                                </ul>
                                <p>{{$ctrl.avail.contacts.site}}</p>
                            </div>

                            <div class="post-footer">
                                <div class="post-share">
                                    <h6 class="title-share">
                                        <span>Поделиться</span><i class="fa fa-long-arrow-right"></i>
                                    </h6>
                                    <ul class="share-buttons">
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="footer-subscribe">
            <div class="subscribe-container">
                <h2>Подписаться</h2>
                <p class="subscribe-message">Подпишись на нашу бесплатную ежедневную рассылку, чтобы первым узнавать о
                    новых акциях и скидках. Никакого спама, только лучшие предложения.</p>
                <form method="post">
                    <div class="input-group">
                        <input type="text" class="form-control email" placeholder="Введи свой email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-effect">
                                <span>Подписаться</span>
                                <span class="fa fa-envelope-o fa-lg"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-wrapper clearfix">
            <div class="site-logo">
                <h2>Avails</h2>
                <p>Счастливые часы. Акции. Скидки.</p>
            </div>
            <div class="contact-info">
                <ul class="contact-list">
                    <li>T: 123-456-789</li>
                    <li>E: hello@email.com</li>
                    <li>&copy; 2016 Avails</li>
                </ul>
            </div>
        </div>
    </div>
</footer>