<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="site-description">
                <div>
                    <a href="#">
                        <h2>Avails</h2>
                    </a>
                </div>
            </div>
            <ul class="header-list clearfix">
                <li class="subscribe">
                    <div>
                        <a href="#" class="btn btn-secondary btn-effect">
                            <span>Подписаться</span>
                            <span><i class="fa fa-envelope-o fa-lg"></i></span>
                        </a>
                    </div>
                </li>
                <li class="site-description">
                    <div>
                        <a href="#">
                            <h2>Avails</h2>
                        </a>
                    </div>
                </li>
                <li class="site-search">
                    <div>
                        <a href="#search" class="btn-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>


<div class="site-content">
    <div class="container">
        <div class="page-content clearfix">
            <div class="sidebar" style="z-index: 2">
                <div class="sidebar-wrapper" style="background: white;">
                    <ul class="filter-list clearfix">
                        <li>
                            <a href="" class="btn filter-btn" ng-click="resetFilter()">Все</a>
                        </li>
                        <li>
                            <a href="" class="btn filter-btn" ng-click="setFilter('type', 'hh')">Счастливые часы</a>
                        </li>
                        <li>
                            <a href="" class="btn filter-btn" ng-click="setFilter('type', 'avail')">Акции</a>
                        </li>
                        <li>
                            <a href="" class="btn filter-btn" ng-click="setFilter('type', 'discount')">Скидки</a>
                        </li>
                    </ul>
                    <div class="subscribe-widget">
                        <div class="widget-title">
                            <h4>Подписаться</h4>
                        </div>
                        <form method="post">
                            <div class="widget-content">
                                <p>Подпишись на нашу бесплатную ежедневную рассылку, чтобы первым узнавать о новых акциях и скидках.</p>
                                <input type="text" class="form-control email" placeholder="Введи свой email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-effect">
                                <span>Подписаться</span>
                                <span><i class="fa fa-envelope-o fa-lg"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="post-archive">
                    <div class="post-archive-standart">

                        <ul class="post-standart clearfix">
                            <li ng-repeat="avail in $ctrl.avails | filter: types">
                                <div class="post-header">
                                    <ul class="post-categories">
                                        <li>
                                            <a href="" rel="category tag" ng-click="setFilter('type', avail.type)">{{avail.typeName}}</a>
                                        </li>
                                    </ul>
                                    <h2>
                                        <a href="#!/avails/{{avail.id}}">{{avail.name}}</a>
                                    </h2>
                                    <ul class="post-meta">
                                        <li class="meta-views">
                                            194 <span class="views-text">просмотров</span><i class="fa fa-eye"></i>
                                        </li>
                                        <li class="meta-author">
                                            <span>от</span>
                                            <a href="" ng-click="setFilter('company', avail.company)">{{avail.company}}</a>
                                        </li>
                                        <li class="meta-comments">
                                            <a href="#" class="comments-link">5 <span class="views-text">Комментариев</span><i class="fa fa-commenting-o"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-media">
                                    <a href="#">
                                        <img ng-src="{{avail.imageUrl}}" class="post-image">
                                    </a>
                                </div>
                                <div class="post-description">
                                    {{avail.snippet}}
                                </div>

                                <!-- Button -->
                                <div class="post-more">
                                    <a href="#" class="btn btn-primary btn-effect">
                                        <span>Показать</span>
                                        <span><i class="fa fa-long-arrow-right fa-lg"></i></span>
                                    </a>
                                </div>
                                <!-- End of Button -->

                                <div class="post-footer">
                                    <div class="post-share">
                                        <h6 class="title-share">
                                            <span>Поделиться</span><i class="fa fa-long-arrow-right"></i>
                                        </h6>
                                        <ul class="share-buttons">
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-vk"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="footer-subscribe">
            <div class="subscribe-container">
                <h2>Подписаться</h2>
                <p class="subscribe-message">Подпишись на нашу бесплатную ежедневную рассылку, чтобы первым узнавать о
                    новых акциях и скидках. Никакого спама, только лучшие предложения.</p>
                <form method="post">
                    <div class="input-group">
                        <input type="text" class="form-control email" placeholder="Введи свой email">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-effect">
                                <span>Подписаться</span>
                                <span class="fa fa-envelope-o fa-lg"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-wrapper clearfix">
            <div class="site-logo">
                <h2>Avails</h2>
                <p>Счастливые часы. Акции. Скидки.</p>
            </div>
            <div class="contact-info">
                <ul class="contact-list">
                    <li>T: 123-456-789</li>
                    <li>E: hello@email.com</li>
                    <li>&copy; 2016 Avails</li>
                </ul>
            </div>
        </div>
    </div>
</footer>